<!doctype html>
<html>
	<head>
		<style>
			html
			{
				font-family: monospace; 
				color: #8cd8ff;
				background-color: #1c71c6;
				font-size: 1.5em;
			}

			a, a:visited
			{
				font-weight: bold;
				color: #ffffff;
			}
		</style>
		<title>PiSION</title>
	</head>
	<body>
		{{{body}}}
	</body>
</html>
